<div class="row artists">
<p id="notice"><%= notice %></p>

<div class="container container-content">

  <div class="col-md-4">
  Sélectionnez par
</div>
<div class="col-md-8">
  <div class="row">
    <% @visuals.each do |visual| %>
      <div class="col-md-4">
        <%= visual.artist.full_name %>
        <%= link_to image_tag("http://placehold.it/270x270"), visual %>
      </div>
    <% end %>
  </div>

</div>

</div>
</div>