<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Vous avez un nouvel abonné :</h1>
    <p>
      <%= @subscription.email %><br>
    </p>
    
    <p>Belle journée,</p>
  </body>
</html>