<div class="row concept">
	<div class="container container-content">
	<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<h1 class="text-center concept-title">Rien de plus <b>facile</b></h1>

		<p>
			Heroes Gallery est né dans la tête de quelques amoureux de l'univers vintage du monde automobile.
			<br>
			A l'heure du numérique, nous oublions trop vite les superbes tirages photos et autres dessins réalisés par artistes passionnés : ce sont nos héros de l'instantané.
		</p>

		<p>
			Ils ont immortalisé des voitures exceptionnelles, des courses inoubliables, des moments rarissimes, des pilotes courageux : ce sont nos héros du volant.
		</p>

		<p>
			Nous avons voulu sortir des tiroirs ces magnifiques images, les valoriser, les faire revivre sur nos murs.
			<br>
			Certaines portent l'émotion de l'instant, d'autres la nostalgie d'une époque.  Mais toutes symbolisent une histoire.
			<br>
			<b>Heroes Gallery</b>, en partenariat avec <b>Marcel & C°</b>, vous proposent en impressions photographiques de grande qualité sur plexi ou aluminium en différentes tailles, et ce à des prix tout à fait abordables.
		</p>

		<p>
			Et si vous le désirez, nous pouvons également nous occuper de vos propres visuels dans les mêmes finitions.
			<br>
			Vous aussi, vous deviendrez vos propres héros !
		</p>
	</div>
</div>
</div>




<h3 class="text-center">
	<small>(timeline steps)</small>
	<br>
	<br>
<%= link_to "Essayer", visuals_path, class: "btn btn-default btn-lg" %>
</h3>

</div>