<div class="row finitions">
	<div class="container container-content">


		<div class="row">
				<h1 class="text-center">
					Formats <b>possibles</b>
					<br><small>Formats possibles en fonction du choix du visuel</small>
				</h1>

				<div class="row">
					<div class="col-md-3">
						<p class="lead">Format Paysage</p>
						<p>
							<b>Standard:</b> 60 x 80 cm<br>
							<b>Grand:</b> 80 x 120 cm<br>
							<b>Etonnant:</b> 100 x 150 cm<br>
							<b>Impressionnant:</b> 120 x 180 cm
						</p>
					</div>
					<div class="col-md-3">
						<p class="lead">Format Portrait</p>
						<p>
							<b>Standard:</b> 80 x 60 cm<br>
							<b>Grand:</b> 120 x 80 cm<br>
							<b>Etonnant:</b> 150 x 100 cm<br>
							<b>Impressionnant:</b> 180 x 120 cm
						</p>
					</div>
					<div class="col-md-3">
						<p class="lead">Format Carré</p>
						<p>
							<b>Standard:</b> 80 x 80 cm<br>
							<b>Grand:</b> <br>
							<b>Etonnant:</b> 100 x 100 cm<br>
							<b>Impressionnant:</b> 120 x 120 cm
						</p>
					</div>
					<div class="col-md-3">
						<p class="lead">Format Panoramique</p>
						<p>
							<b>Standard:</b> <br>
							<b>Grand:</b> 45 x 90 cm<br>
							<b>Etonnant:</b> 75 x 150 cm<br>
							<b>Impressionnant:</b> 90 x 180 cm
						</p>
					</div>
				</div>
			</div>

			<div class="row bottom-line">
				<div class="col-md-6 right-line">
					<div class="inside">
					<%= image_tag "http://placehold.it/600x400", class: "img-responsive" %>
</div>
				</div>

				<div class="col-md-6">
					<div class="inside">
					<h3>Aluminium</h3>
					<p>Votre photographie imprimée, recouverte par un film Ultra Gloss qui la protège de l'humidité et des rayons UV, est collée sur une plaque d'aluminium composite Dibond.
					<br>
					Ce matiériau hors-norme issu de l'assemblage de deux plaques d'aluminium de quelques dixièmes de millimètres d'épaisseur confère à votre tirage d'étonnantes propriétés mécaniques, notamment sa légèreté et sa haute indéformabilité.
					<br>
					<br>
					Un cadre de suspension discret, facile à l'emploi et ultra-resistant est inclus pour assurer un accrochage parallèle au mur.
				</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 right-line plexi">
					<div class="inside">
					<h3>Plexi</h3>

					<p>
						Votre visuel, collé sur une plaque d'aluminium composite Dibond, est recouvert par une plaque de verre acrylique plexi. Le tirage est parfaitement protégé et acquiert une profondeur, en meilleur contraste et l'intensité des couleurs est renforcée.
						<br>
						<br>
						Un cadre de suspension discret, facile à l'emploi et ultra-resistant est inclus pour assurer un accrochage parallèle au mur.
					</p>
				</div>
				</div>

				<div class="col-md-6">
					<div class="inside">
					<%= image_tag "http://placehold.it/600x400", class: "img-responsive" %>
				</div>
				</div>
			</div>

	</div>
</div>