<div class="row">
	<div class="home-top text-center">
	<div class="container container-content">
		<div class="row">
			<%= image_tag "logo.png", size: "350x196" %>
			<%= image_tag "home_top_photos.png", class: "home_top_photos" %>
			<div class="col-md-8 col-md-offset-2">
				Heroes Gallery, en partenariat avec Marcel & C°, vous<br> proposent de superbes visuels de l'univers vintage du monde automobile.
				<br>
				Découvrez sur ce site les magnifiques photos ou dessins proposés en exclusivité.
				<br>
				Choisissez, commandez et habillez vos murs de vos héros.
			</div>
		</div>
	</div>
</div>
</div>

<div class="container home-middle">
	<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<h1 class="text-center home-middle-title">

			<b>Vos héros</b> sur <span class="hg_color">plexi</span> ou sur <span class="hg_color">alu</span>
		</h1>

		<p>
			Heroes Gallery est né dans la tête de quelques amoureux de l'univers vintage du monde automobile.
			<br>
			A l'heure du numérique, nous oublions trop vite les superbes tirages photos et autres dessins réalisés par artistes passionnés : ce sont nos héros de l'instantané.
		</p>

		<p>
			Ils ont immortalisé des voitures exceptionnelles, des courses inoubliables, des moments rarissimes, des pilotes courageux : ce sont nos héros du volant.
		</p>

		<p>
			Nous avons voulu sortir des tiroirs ces magnifiques images, les valoriser, les faire revivre sur nos murs.
			<br>
			Certaines portent l'émotion de l'instant, d'autres la nostalgie d'une époque.  Mais toutes symbolisent une histoire.
			<br>
			<b>Heroes Gallery</b>, en partenariat avec <b>Marcel & C°</b>, vous proposent en impressions photographiques de grande qualité sur plexi ou aluminium en différentes tailles, et ce à des prix tout à fait abordables.
		</p>

		<p>
			Et si vous le désirez, nous pouvons également nous occuper de vos propres visuels dans les mêmes finitions.
			<br>
			Vous aussi, vous deviendrez vos propres héros !
			
			
		</p>
	</div>
</div>
</div>

<div class="home-images-cars text-center">
	<%= image_tag "home_cars.png" %>
</div>

<h3 class="text-center">

<%= link_to "Galerie", visuals_path, class: "btn btn-primary btn-transparent btn-lg" %>
</h3>