<div class="row concept">
	<div class="container container-content">
	<div class="row">
	<div class="col-md-8 col-md-offset-2 terms-text">

		<h1 class="text-center concept-title">
			CONDITIONS GENERALES DE VENTE
		</h1>

<h3>1. OPPOSABILITE</h3>

<p>Le client est censé avoir pris connaissance des conditions générales et en avoir accepté toutes les clauses.

<p>L’acceptation de conditions dérogeant à celles ci-dessous libellées ne pourra résulter que d’un écrit signé par nous.

<p>Le client accepte également pour tout ce qui n’est pas prévu que les conditions générales et particulières des supports et fournisseurs forment l’usage de la profession et qu’en conséquence cet usage régit également les rapports contractuels, sauf stipulation contraire.

<h3>2. OFFRES</h3>

<p>Nos offres, devis, études, plans, dessins et autres prestations ne sont faits qu’à titre indicatif sauf stipulation contraire expresse acceptée par le vendeur.

<p>Ces offres sont sujettes à révision en cas de hausse de salaire, charges sociales, matières premières, ou en cas de modification au projet initial. Tout changement apporté au texte ou à la disposition sur des documents définitifs et/ou des épreuves établies, et non justifié par un manquement de notre société, est considéré comme « correction d’auteur » et engage exclusivement la responsabilité du client qui supporte tous les frais y afférent, sans réserve aucune, qui serait facturée.

<p>La remise d’un projet par le client faite sans réserve, implique l’engagement de confier l’exécution du travail et l’acceptation de l’indemniser de tous les frais occasionnés.

<h3>3. DROITS DE RE PRODUCTION</h3>

<p>Considérant les dispositions légales en matière de propriété artistique et industrielle et de concurrence déloyale, tous les modèles, croquis, en résumé les réalisations artistiques, restent la propriété exclusive de la société et ne peuvent être imités ni reproduits.

<p>Leur reproduction ou imitation sous une forme quelconque ou par quelque procédé que ce soit, lorsqu’elle est réalisée sans aucune autorisation préalable des ayants droit, constitue une contrefaçon ou un acte de concurrence déloyale.

<p>Sauf pour les emblèmes, sigles et slogans, les droits de reproduction des créations de notre société ne sont pas cédés à l’annonceur.

<p>La cession ou facturation de projets, films, photographies, illustrations et autres créations artistiques n’entraine par elle-même aucune dérogation à ce qui précède, sauf convention expresse et préalable.

<p>Les films et documents appartenant au client sont acceptés à leurs risques et périls. Sauf demande expresse du client formulée par écrit, nous conservons en nos locaux le matériel d’impression pendant une période d’un an à dater de la diffusion. Passé ce délai, nous nous réservons le droit de détruire le matériel.

<h3>4. DELAIS</h3>

<p>Les délais de livraison ou de parution ne sont donnés qu’à titre indicatif et un éventuel retard ne donne pas droit au client à solliciter la résolution du contrat. Un retard quelconque et quelle qu’en soit la cause, ne peut constituer un motif de refus ni donner lieu à dommages et intérêts. Les délais de fournitures convenus sont prorogés du retard apporté par le client à déposer ses documents manuscrits, informations, instructions, ou à renvoyer les documents ou les épreuves corrigées.

<h3>5. RE SPONSABILITE</h3>

<p>Le client assumera la responsabilité juridique de la campagne qu’il a commandée. Notre société décline toute responsabilité en ce qui concerne les textes demandés par le client et soumis à son approbation ou pour la reproduction des documents fournis par le client et pour lesquels il n’aurait pas obtenu personnellement les droits.

<p>Une tolérance de 10 % en plus ou en moins sur les quantités prévues est applicable.

<p>La conformité exacte des teintes à reproduire et la fixité parfaite des encres ne sont pas garanties.Une latitude correspondant à la nature du travail doit être admise. La tolérance ci-avant mentionnée peut être majorée pour les articles comportant un façonnage compliqué et particulièrement difficile.

<p>La facturation est établie sur base des quantités réellement fournies.

<h3>6. FRAIS ET RISQUES</h3>

<p>Toutes nos fournitures voyagent aux risques et périls du client.

<p>Les frais de port et d’emballage sont à charge de l’acheteur.

<p>Les originaux, clichés, plans, films, papiers et autres documents laissés à l’agence par le client, qu’ils soient payés ou non, le sont aux risques et périls de ce dernier qui dégage expressément la société de toute responsabilité.

<p>Il en est de même des travaux à exécuter et des marchandises ou fournitures destinées au client. Sauf accord préalable, les frais éventuels de conservation sont à charge du client à partir de la date qui lui est signifiée.

<h3>7. PAIEMENT, RECLAMATION</h3>

<p>Pour être valable, toute réclamation doit être faite par écrit dans les huit jours qui suivent la livraison. Si le client néglige de prendre livraison, le délai prend cours à la réception de la facture, de la note d’envoi ou de tout document similaire. L’utilisation fut-elle partielle, entraîne de plein droit son agréation et exclut toute réclamation ultérieure de quelque nature que ce soit.

<p>Les factures sont payables au comptant, sans escompte, dans les 30 jours de la réception.
En cas de défaut de paiement, nous nous réservons le droit de suspendre toute action en cours. De plus, le non-paiement à la date prévue entraîne de plein droit et sans mise en demeure préalable, l’obligation pour le client de payer un intérêt au taux judiciaire, plus 2 % du montant restant dû, outre le droit de réclamer une indemnité forfaitaire de 15 % avec un minimum de 75 euros à titre de clause pénale.

<p>Les traites, chèques, ou reçus n’apportent ni novation, ni dérogation aux présentes clauses.
Etant dans l’impossibilité de vérifier les pouvoirs des mandataires ou personnes qui contractent au nom d’une société de quelque titre que ce soit ou d’un tiers en personne physique, ces dites personnes seront tenues personnellement des engagements contractés.

<p>Si, à la demande d’un client, nos factures sont adressées à un tiers, le client reste garant du paiement.

<h3>8. COMPETENCE</h3>

<p>Toute contestation de quelque nature que ce soit relève de la compétence exclusive des juridictions de l’arrondissement judiciaire de Bruxelles ou de la Justice de Paix du premier Canton de Bruxelles.


</div>
</div>
</div>
</div>
