<div class="row artists">

  <div class="container">

    <div class="row col-md-10 col-md-offset-1">

    	<h2 class="page-header text-center"><%= t("your_orders") %></h2>

    	<div class="well">
    		<% current_user.purchases.each do |purchase| %>
                
    			<div class="row">
    				<div class="col-md-2">
    					<%= image_tag purchase.visual.miniature_or_placeholder.url(:thumb) %>
    				</div>
    				<div class="col-md-10">
    			<%= purchase.created_at %>
    			<br><%= link_to purchase.visual.name, visual_path(purchase.visual) %>

    		</div>
    	</div>
    			<hr>
    		<% end %>
    	</div>
    </div>
</div>
</div>
