<div class="row artists">

  <div class="container">

    <div class="row start-page">

    	<div class="shopping-cart">
		  <%= render "shopping_cart" %>
		</div>

		<%= current_order.subtotal %>
</div>
</div>
</div>
