/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "social-share-button";

body {
  font-family: 'Lato', sans-serif;
}

p, ol, ul, td, h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
}


.navbar-brand {
  position: absolute;
  }

.container-content {
  padding-top: 51px;
}

 .navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1em;
}

.navbar .navbar-collapse {
  text-align: center;
}

ul.nav a:hover {
 color: #e8b053 !important; 
}

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.home-top {
  background-image: image-url('home_top_bg.png');
  
  background-size:100%;
  color: white;
  padding-bottom: 20px;
}

@media (min-width: 480px) {
  .home_top_logo {
    margin-left: 20px;
  }

  .home_top_photos {
    margin-top: -150px;
    margin-left: -40px;
  }
}

.home-middle {
	text-align: justify;
}

.home-middle-title {
  margin-bottom: 15px;
}

.home-middle-content {
  font-size: 1.5em;
  line-height: 20px;
  margin-bottom: 15px;
}

.hg_color {
  color: #e8b053;
}

.concept {
  background-image: image-url('concept_bg.png');
  background-repeat: no-repeat;
  background-size:100%;
  color: white;
  padding-bottom: 20px;
  background-color: #31313b; 
}

.concept-title {
  margin-top: 60px;
  margin-bottom: 50px;
}

.concept-content {
  font-size: 1.2em;
  line-height: 20px;
  text-align: justify;
}

.finitions {
  background-image: image-url('finitions_bg.png');
  background-repeat: no-repeat;
  background-size:100%;
  color: white;
  padding-bottom: 20px;
  background-color: #31313b;
  min-height: 100vh;
}

.contact {
  background-image: image-url('contact_bg.png');
  background-repeat: no-repeat;
  background-color: #31313b;
  background-size: 100% 100%;
  color: white;
  padding-top: 50px;
  padding-bottom: 30px;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

.contact a {
  color: white;
}

.contact a:hover {
  color: #e8b053;
  text-decoration: transparent;
  background-color: transparent;
}

.contact-title {
  margin-bottom: 40px;
}

.contact-map {
  padding-top: 20px;
}

.upload {
  background-image: image-url('upload_bg.png');
  background-repeat: no-repeat;
  background-color: #31313b;
  background-size: 100%;
  color: white;
  padding-top: 50px;
  padding-bottom: 30px;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

.timeline {
  
  font-size: 1.5em;
}

/*.step {
  padding-top: 100px;
} */

.step_title {
  text-transform: uppercase;
  padding-top: 100px;
  margin-bottom: 20px;
}

.step_line {
  border-right: 2px solid white;
  padding-bottom: 60px;
}

.following_step {
  margin-top: -100px;
  padding-top: 100px;
}

.last_step {
  padding-bottom: 150px;
}

.first_step {
  margin-top: 100px;
}

.text-in-first-step {
  text-transform: uppercase;
  padding-top: -10px;
  margin-bottom: 20px;
}

.step_left {
  padding-right: 50px;
}

.step_right {
  padding-left: 50px;
}

.first_dot {
   background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    content: "";
    height: 11px;
    left: -6.5px;
    position: absolute;
    top: 90px;
    width: 11px;
}

.second_dot {
    background: white;
    border: 2px solid white;
    border-radius: 50%;
    content: "";
    height: 11px;
    left: -6.5px;
    position: absolute;
    top: 120px;
    width: 11px;

}

.third_dot {
    background: #31313b;
    border: 2px solid white;
    border-radius: 50%;
    content: "";
    height: 11px;
    left: -6.5px;
    position: absolute;
    top: 120px;
    width: 11px;

}

.last_dot {
    background: #e8b053;
    border: 2px solid #e8b053;
    border-radius: 50%;
    content: "";
    height: 20px;
    left: -11px;
    position: absolute;
    top: 380px;
    width: 20px;

}

.terms-text {
  text-align: justify;
}

.footer {
  padding-top: 20px;
  padding-bottom: 30px;
  min-height: 100px;
  border-top: 1px solid #e8b053;
  background-color: #31313b;
  color: white;
}

.footer a {
  color: #e8b053;
}

.footer a:hover {
  background-color: transparent;
}

.subscription {
  margin-bottom: 30px;
}

.subscription-text {
  padding-top: 7px;
}

.fa.fa-small {
  font-size: 0.4em;
  margin-left: 7px;
  margin-right: 7px;
}

.fa-stack.fa-small {
  font-size: 0.4em;
  margin-left: 7px;
  margin-right: 7px;
}

.hg_blue {
  color: #31313b;
}

.with-underline {
  border-bottom: 0.01em solid #e8b053;
  padding-bottom: 15px;
  min-width: 300px;
}

.with-underline-last {
  border-bottom: 0.01em solid #e8b053;
  padding-bottom: 15px;
  max-width: 250px;
}

.format-border-left {
  border-left: 0.01em solid #e8b053;
  min-height: 150px;
}

.number {
  color: rgba(232, 176, 83, 0.3);
  font-size: 2em;
  font-weight: 900;
  margin-right: -20px;
}




