/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.navbar-brand {
  position: absolute;
  }

.container-content {
  padding-top: 51px;
}

 .navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1em;
}

.navbar .navbar-collapse {
  text-align: center;
}

ul.nav a:hover {
 color: #e8b053 !important; 
}

.home-top {
  background-image: image-url('home_top_bg.png');
  color: white;
  padding-bottom: 20px;
}

@media (min-width: 480px) {
  .home_top_logo {
    margin-left: 20px;
  }

  .home_top_photos {
    margin-top: -150px;
    margin-left: -40px;
  }
}

.home-middle {
	text-align: justify;
}

.concept {
  background-image: image-url('concept_bg.png');
  color: white;
  padding-bottom: 20px;
  background-color: #31313b; 
}

.concept-title {
  margin-top: 90px;
  margin-bottom: 90px;
}

.finitions {
  background-image: image-url('finitions_bg.png');
  color: white;
  padding-bottom: 20px;
  background-color: #31313b;
  min-height: 100vh;
}


