// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artists {
  background-image: image-url('artists_bg.png');
  background-color: #31313b;
  background-size: 100% 100%;
  color: white;
  padding-top: 50px;
  padding-bottom: 30px;
  min-height: 100vh;
}

.right-line-artist {
	border-right: 1px solid #e8b053;
	min-height: 350px;
}