// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart_subtotal {
	position: absolute;
	top: 200px;
	right: 100px;
}