// Place all the styles related to the Visuals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.start-page {
	padding-top: 130px;
}

.other-visuals {
	margin-top: 100px;
}

.visual-cart {
	background-color: transparent;
}

.visual-cart .btn {
	color: white;
}

.btn-transparent {
	background-color: transparent;
}

.inside {
	padding: 30px;
}

.bottom-line {
	border-bottom: 0.05px solid #e8b053;
}

.right-line {
	border-right: 1px solid #e8b053;
}

.left-line {
	border-left: 1px solid #e8b053;
}

.plexi {
	min-height: 400px;
}


