// Place all the styles related to the Visuals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.start-page {
	padding-top: 130px;
}

.other-visuals {
	margin-top: 100px;
}

.visual-cart {
	background-color: transparent;
}

.visual-cart .btn {
	color: white;
}

.btn-transparent {
	background-color: transparent;
}

.inside {
	padding: 30px;
}

.bottom-line {
	border-bottom: 0.05px solid #e8b053;
}

.right-line {
	border-right: 1px solid #e8b053;
}

.left-line {
	border-left: 1px solid #e8b053;
}

.plexi {
	min-height: 400px;
}

.right-line-visuals {
	border-right: 1px solid #e8b053;
	min-height: 285px;
}

.nav-pills > li > a {
	color: white;
}

.card_image {
	position: relative;
    padding: 0;
    width:100%;
    display:block;
    margin: 5px;
}

.card_caption {
	position: absolute;
	padding-top: 40%;
	margin: 5%;
    font-size: 2em;
    color:rgba(255,255,255,0.8);
    background-color: rgba(232,176,83,0.7);
    width: 90%;
    height: 90%;
    text-align: center;
    line-height: 25px;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 2;
    padding-top: auto;
    cursor: pointer;
}

.card_caption:hover {
    opacity:1;
}

.card_caption a {
	background-color: transparent;
	color: white;
	text-decoration: none;
}

.card_caption a:hover {
	background-color: transparent;
	color: white;
	text-decoration: none;
}

.card_caption a:visited {
	background-color: transparent;
	color: white;
	text-decoration: none;
}

.visual_name {
	color: black;
}

.social-likes-position {
	width: 150px;
	margin: 10px auto;
}

.selector {
	position: fixed;
}

.visual-right-part {
	background-color: rgba(0, 0, 0, 0.3);
}

